<div class="full100 align-items-center justify-content-center">
  <mat-card class="login p-0">
    <mat-card-header class="py-2 w-100 justify-content-center">
      <mat-card-title class="pb-0 text-white pt-3">
        <img src="../../../assets/img/logo_white.png" alt="Logo" height="60">
      </mat-card-title>
    </mat-card-header>
    
      <mat-card-content class="px-4"> 
        <form [formGroup]="myGroup" #forma="ngForm">
          <mat-horizontal-stepper  linear="true" #stepper formArrayName="formArray" class="bgTransparent br-1" labelPosition="bottom" (selectionChange)="onChange($event)">
            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" label="Usuario" state="username">   
                <mat-form-field class="mt-1">
                  <input matInput placeholder="Usuario" formControlName="username" required type="text" id="input0">
                </mat-form-field>
                <div>
                  <button  class="btn btn-info" matStepperNext>Continuar</button>
                </div> 
            </mat-step> 
            <mat-step  formGroupName="1" [stepControl]="formArray?.get([1])" label="Clave" state="password"> 
                <mat-form-field class="mt-1">
                  <input matInput placeholder="Clave" type="password" formControlName="password" required id="input1" (keyup.enter)="login()">
                </mat-form-field>
                <div>
                  <button type="button" class="btn btn-success" (click)="login()">Ingresar</button> 
                </div>  
            </mat-step>
            <!-- Icon overrides. -->
            <ng-template matStepperIcon="username">
              <mat-icon>person</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="password">
              <mat-icon>keyboard</mat-icon>
            </ng-template>
          </mat-horizontal-stepper>
        </form>  

        <div class="mt-3 px-4 py-2 br-1 bgTransparent d-flex justify-content-center flex-wrap">
          <button mat-raised-button type="button" class="bg-white text-dark w-100 mb-2" (click)="loginGoogle()"> 
            <fa-icon [icon]="['fab','google']" class="text-success"></fa-icon> Acceder con Google 
          </button> 
          <button mat-raised-button type="button" class="bg-white text-dark w-100 mb-2" (click)="loginFacebook()"> 
            <fa-icon [icon]="['fab','facebook']" class="text-primary"></fa-icon> Acceder con Facebook
          </button> 
          <button mat-raised-button type="button" class="bg-white text-dark w-100" (click)="loginFacebook()"> 
            <fa-icon [icon]="['fab','twitter']" class="text-info"></fa-icon> Acceder con Twitter
          </button> 
        </div>
      </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>