.full100{
    width: 100%;
    height: 100%;
    display: flex;
    background: #ffffffb3;
}

.mat-card-header {  text-align: center; }
.mat-card-title { font-family: Muli, Helvetica; }

mat-card.login {
    width: 350px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-blue-creative-gradient-decoration-image_11175.jpg);
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, .3);
}

.mat-step-label {
    color: #17a2b8 !important;
    background: #ffffff !important;
    padding: 4px !important;
    margin-top: 8px !important;
    border-radius: 4px !important;
}

.bgTransparent { background: #ffffff85;  }

.mat-step-header-ripple:hover { background: red }

input:-internal-autofill-selected{ background: transparent !important; }

input:-webkit-autofill {
    background-color: transparent !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus { 
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}