<mat-toolbar class="m-2 w-auto br-1">
    <mat-icon matListIcon class="ml-2">group</mat-icon>
    <span> Usuarios </span>
   
    <mat-icon matListIcon class="ml-2">pageview</mat-icon>
    <span> Ver </span>
  
    <mat-icon matListIcon class="ml-2">email</mat-icon>
    <span> {{ user.email }} </span>
  
    <span class="fill-remaining-space"></span>  
   
    <button mat-raised-button [routerLink]="['/users']" class="text-info mr-2">
      <mat-icon matListIcon>list</mat-icon>
      Ver Listado
    </button> 
  </mat-toolbar>
  
  
  <div class="mx-2">
    
    <div *ngIf="isLoadingResults">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> 
   
   
    <div class="mat-card p-3 d-flex justify-content-center" *ngIf="!isLoadingResults">
      
      <div class="col-5 text-center">
          <img [src]="user.photoURL" [alt]="user.displayName" class="w-300 mw-300 br-1 mb-2" />
  
          <h1 class="display-4">
            {{ user.displayName }}
          </h1>
          <h4 class="display5 font-weight-normal">
            {{ user.email }}
          </h4>
          <mat-divider></mat-divider>
           
          <div class="pt-3">
            <h1 class="ml-2 display-6 text-left">
              Mas opciones:
            </h1>
          </div>
          

          <div class="mt-2">  
            <mat-form-field class="p-2 w-100">
              <mat-label>Nivel de usuario</mat-label>
              <mat-select [(ngModel)]="user.level" name="user_level" (ngModelChange)="actionStore()">
                <mat-option *ngFor="let ul of user_levels" [value]="ul.id">
                  {{ ul.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="p-2 w-100"> 
              Acceso:
              <button mat-raised-button (click)="openDialogAccess()" class="text-danger"> 
                <mat-icon matListIcon>remove_circle_outline</mat-icon>
                Bloquear Acceso
              </button>
            </div> 
          </div> 
      </div>
       
    </div>     
   
  </div> 