<h1 mat-dialog-title>Solicitud de cambio de nivel.</h1>
<div mat-dialog-content>
<div class="w-100 text-center">
  <mat-icon>security</mat-icon>
</div>
<div>
    <p>¿Deseas solicitar acceso para ser usuario <b>Administrador</b>?</p>
</div>
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button> 
  <button mat-raised-button color="primary" (click)="requestAccess()">Aceptar</button>  
</div>
