 <mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="ml-2">group</mat-icon>
  <span> Usuarios </span>

  <mat-icon matListIcon class="ml-2 d-none d-sm-flex">keyboard_arrow_right</mat-icon>
  <span class="d-none d-sm-flex"> Listado </span>

  <span class="fill-remaining-space"></span>  

  <mat-button-toggle-group class="mr-2 d-none d-md-flex" appearance="legacy" #group="matButtonToggleGroup" (change)="changeView($event)">
    <mat-button-toggle value="card" checked="true">
      <mat-icon>view_module</mat-icon>
      Tarjetas 
    </mat-button-toggle>
    <mat-button-toggle value="list">
      <mat-icon>view_headline</mat-icon>
      Lista 
    </mat-button-toggle> 
  </mat-button-toggle-group>

  <button mat-raised-button (click)="checkAdminRequest()" class="btn-info">
    <mat-icon matListIcon>security</mat-icon> 
    <span class="d-none d-sm-flex">Permisos Solicitados.</span>
  </button>


</mat-toolbar>

<div class="mx-2">
  
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
  
  
  <div class="container px-0" *ngIf="!isLoadingResults">
    
  </div>     

  <div class="row" *ngIf="viewStyle == 'card'">
    <div class="col-md-4 py-2" *ngFor="let u of users" >
      <app-card #thecard class="mb-2 w-100" [item]="u" type_item="users" (remove)="openDialogRemove($event)" (openLightBox)="openLB($event)"> 
      </app-card>
    </div>
  </div>

  <app-tablelist #thelist *ngIf="viewStyle == 'list'" [data]="users" type_item="users" (remove)="openDialogRemove($event)"></app-tablelist>
  
  
  
</div> 
 