<div class="wrapper" [ngClass]="{'open': isOpen, 'closed': !isOpen}">
  
  <mat-toolbar class="m-2 w-auto br-1">
    <mat-icon *ngIf="isOpen" matListIcon class="ml-2 cursor"  (click)="isOpen = !isOpen">chat</mat-icon>
    <span class="cursor" (click)="isOpen = !isOpen"> &nbsp; peliChat   </span> 
  
    <span class="fill-remaining-space cursor" (click)="isOpen = !isOpen"></span>   
    
    <button mat-raised-button [matMenuTriggerFor]="menu" aria-label="Opciones de chat">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="mode===1">
        <mat-icon>fullscreen</mat-icon>
        <span>Pantalla completa</span>
id,       </button> 
      <button mat-menu-item *ngIf="mode===2">
        <mat-icon>fullscreen_exit</mat-icon>
        <span>Salir de patalla completa</span>
      </button> 
      <button mat-menu-item>
        <mat-icon>volume_off</mat-icon>
        <span>Silenciar</span>
      </button> 
      <button mat-menu-item (click)="logoutChat()">
        <mat-icon>speaker_notes_off</mat-icon>
        <span>Salir del chat</span>
      </button> 
    </mat-menu>

  </mat-toolbar>

  <div class="inner" id="inner">
    <div class="content" id="content">  
      <ul class="listChat">
        <li *ngFor="let c of chat_list"  [ngClass]="{'owner': c.username === username, 'old': c.type === 0}">
          <span [style.background-image]="'url(' + c.image + ')'"></span>
          {{ c.text }}
          <div class="float-right w-100">{{ c.date | timeago }}</div>
        </li> 
      </ul>
    </div>
  </div>
  <div class="bottom" id="bottom">
    <textarea class="input" #textBox id="input" [(ngModel)]="msgBox" (keydown.enter)="sendMsg($event)" [disabled]="!isJoined"></textarea>
    <div class="send d-flex" id="send" (click)="sendMsg($event)" *ngIf="isJoined">
       <mat-icon>send</mat-icon>
    </div>
  </div>
</div>

<button *ngIf="!isJoined" mat-raised-button class="buttonJoin bg-info" (click)="joinChat()">
  <mat-icon>speaker_notes</mat-icon>
  <span>&nbsp;Unirse al chat</span>
</button> 