.mat-toolbar{
  height: 64px;
  margin: 0 !important;
  border-radius: 0 !important;
}

.buttonJoin { 
  position: fixed;
  margin: 1rem;
  bottom: 0px;
  right: 1rem;
}

ul.listChat {
  margin-left: 0;
  padding-left: 0;
}

ul.listChat li{
  list-style: none;
  color: white;
  font-size: 12px;
  margin: .5rem;
  padding: .5rem;
  background: #588997;
  border-radius: 1rem;
  width: 80%;
  float: left;
  text-align: left;
}

ul.listChat li.owner{ 
  float: right;
  text-align: right;
  background: #659758;
}

ul.listChat li.old{
  background: transparent !important;
  color: #929292 !important;
}

ul.listChat li div{
  font-size: .6rem;
  font-style: italic;
  color: #fefefe;
}

ul.listChat li span{
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 50%;
  background-position: center;
  background-size: contain; 
}

ul.listChat li.owner span{
  float: left;
}

ul.listChat li.old div{ 
  color: #464646 !important;
}

.wrapper { 
  width: 320px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 1.5rem;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  transition: 0.3s ease;
}

.wrapper.open { 
  height: 520px;
}

.wrapper.closed {  
  height: 0;
}

.wrapper .inner {
  overflow: hidden;
  height: 390px; 
  background: #f2f2f2;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
 


.wrapper .inner::-webkit-scrollbar {
  width: 0 !important;
}
.wrapper .inner .content {
  padding: 10.6666666667px;
  position: relative; 
  height: 100%;
  overflow: auto;
  padding-bottom: 0;
  flex: 1;  
  display: flex;
  flex-direction: column-reverse;
}
 

.nav { 
  height: 64px;
  z-index: 100;
  transition: 0.3s ease;
}
.nav .default-nav {
  height: 64px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  transition: 0.3s ease;
}
.nav .default-nav .main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .toggle {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
  background-size: contain;
  margin: 16px;
  float: left;
}
.nav .default-nav .main-nav .toggle:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .options {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_more_vert_white_48dp.png);
  background-size: contain;
  margin: 16px;
  position: absolute;
  right: 0;
}
.nav .default-nav .main-nav .options:hover {
  cursor: pointer;
}
.nav .default-nav .main-nav .main-nav-item {
  float: left;
  height: 64px;
  margin-right: 50px;
  position: relative;
  line-height: 64px;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 64px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}

.bottom { 
  height: 64px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  padding: 0 10px;
  resize: none;
  overflow: scroll;
  padding-top: 10px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

}
.bottom .input:focus {
  outline: none;
}
.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}
.bottom .send {
  position: fixed;
  height: 42.6666666667px;
  width: 42.6666666667px;
  border-radius: 50%;
  align-items: center;
  justify-content: center; 
  border: 0;
  background: #28a745;
  color: #ffffff;
  bottom: 10.6666666667px;
  right: 2rem;
}
.bottom .send:before {
  content: '';
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
  background-size: 25.6px;
  position: absolute; 
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.6666666667px 0;
  padding: 10.6666666667px 0;
}
.message-wrapper .circle-wrapper {
  height: 42.6666666667px;
  width: 42.6666666667px;
  border-radius: 50%;
}
.message-wrapper .text-wrapper {
  padding: 10.6666666667px;
  min-height: 42.6666666667px;
  width: 60%;
  margin: 0 10.6666666667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  /* word-break: break-all; */
  opacity: 0;
}
.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #F44336;
  float: left;
  color: #ffffff;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #F44336 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}
.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #FF5722;
  float: right;
  color: #333333;
}
.message-wrapper.me .text-wrapper {
  background: #ffffff;
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

@media (max-width: 560px) {
  .wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .wrapper .inner { 
    height: 100%;
    height: calc(100vh - 129px);
  }

  .wrapper.open { 
    height: 100vh;
  }

  .wrapper.closed {  
    height: 0;
  }
}
