.list-menu{
    background-color: #ffffffb3 !important;
    border-radius: .5rem;
}

.img-circular{
    background-size: cover;
    background-position: center center;
    display: block; 
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.img-circular.profile{   
    width: 100px;
    height: 100px; 
}