<div class="container-menu w-100">
  <div class="navbar-brand text-center w-100 py-4" href="#">
      <img src="../../../../assets/img/logo_white.png" height="50" class="d-inline-block align-top" alt=""> 
  </div> 
  
  <mat-card class="m-2"> 
    <div class="d-flex justify-content-center flex- mb-1" *ngIf="sesdata.providerId"> 
        <mat-chip-list> 
            <mat-chip *ngIf="sesdata.providerId === 'google.com'">
               <!--  <fa name="fab fa-google" class="text-info mr-2"></fa> --> Cuenta Google 
            </mat-chip>
            <mat-chip *ngIf="sesdata.providerId === 'facebook.com'">
              <!--  <fa name="fab fa-google" class="text-info mr-2"></fa> --> Cuenta Facebook 
            </mat-chip>
            <mat-chip *ngIf="sesdata.providerId === 'twitter.com'">
                <!--  <fa name="fab fa-google" class="text-info mr-2"></fa> --> Cuenta Twitter 
            </mat-chip>
        </mat-chip-list>
    </div> 
    <div class="d-flex justify-content-center"> 
      <div class="img-circular profile" [style.background-image]="'url(' + photoUser + ')'" ></div>
    </div>  
    <mat-card-header class="d-flex justify-content-center flex-wrap">  
      <mat-card-title class="text-center">{{ sesdata.displayName }}</mat-card-title> 
      <mat-card-subtitle class="text-center"> {{ sesdata.email }} </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="m-2">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of menu_list" [expanded]="menu_open == item.item" hideToggle>
        <mat-expansion-panel-header [routerLink]="[item.url]" routerLinkActive="active">
          <mat-panel-title>
            <mat-icon matListIcon>{{ item.icon }}</mat-icon>
            <span class="ml-2"> {{ item.title }} </span>
          </mat-panel-title> 
          <mat-panel-description>
            <mat-icon matListIcon class="ml-auto">keyboard_arrow_down</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let item_children of item.childrens" [routerLink]="[item_children.url]" routerLinkActive="active">
            <mat-icon matListIcon class="">{{ item_children.icon }}</mat-icon>
            <h3 matLine> {{item_children.title}} </h3> 
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>  
       
    </mat-accordion>
  </div>  
</div>
 
 

