<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="ml-2 d-none d-sm-flex">chrome_reader_mode</mat-icon>
  <span class="d-none d-sm-flex"> Noticias </span>

  <mat-icon matListIcon class="ml-2">local_library</mat-icon>
  <span> Fuentes RSS </span>

  <span class="fill-remaining-space"></span>  

  <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mr-2">
    <mat-icon class="mr-1">arrow_drop_down_circle</mat-icon> {{ ( feedSelect.name ) ? feedSelect.name : 'Cargando...' }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let feed of listFeeds" (click)="loadFeed(feed)">
      <mat-icon>rss_feed</mat-icon>
      <span>{{ feed.name }}</span>
    </button> 
  </mat-menu>

  <button mat-raised-button [routerLink]="['/feeds/admin']" class="btn-info">
    <mat-icon matListIcon>create_new_folder</mat-icon> 
    <span class="d-none d-sm-flex">Administrar</span>
  </button>
</mat-toolbar>

<div class="mx-2">
  
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
 
 
  <div class="container px-0" *ngIf="!isLoadingResults">
    <div class="card-columns">
      <app-card  *ngFor="let f of feedSelect.item | paginate: { itemsPerPage: 12, currentPage: page }" #thecard class="w-100" [item]="f" icon='' type_item="feedrss" (openLightBox)="openLB($event)"> 
      </app-card>
    </div>  
    <pagination-controls (pageChange)="page = $event" class="mat-card pt-3 mb-2 my-pagination w-100"></pagination-controls>  

  </div>     
 
 
</div> 



