.tableList{
    transition: 1s linear;
}
.tableList.mode-white {
    background:white !important;
    color: #313131 !important;
}

.tableList.mode-dark {
    background: #333333 !important;
    color: white !important;
}