<div class="'tableList mat-elevation-z8 p-3 br-1 mat-card"> 
    <table class="w-100">
      <thead>
        <tr> 
            <th *ngIf="type_item == 'movies'">
              Imagen
            </th>
            <th>
              Nombre
            </th>
            <th>
              Descripcion
            </th>
            <th>
              Ver
            </th>
            <th>
              Editar
            </th>
            <th>
              Eliminar
            </th>
          </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let item of data"> 
          <td *ngIf="type_item == 'movies'">
              <img [src]="item.image" height="30" [alt]="item.name" class="cursor">  
          </td> 
          <td>
              {{ item.name }}  
          </td>
          <td>
              {{ item.description }}
          </td> 
          <td>
            <button mat-icon-button [routerLink]="[ '/' + type_item, item.id , 'view' ]">
              <mat-icon aria-label="Example icon-button with a heart icon" class="text-info" matTooltip="Mas información">pageview</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button [routerLink]="[ '/' + type_item, item.id , 'edit' ]">
              <mat-icon aria-label="Example icon-button with a heart icon" class="text-success" matTooltip="Editar">edit</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button (click)="removeChild(item)">
              <mat-icon aria-label="Eliminar" class="text-danger" matTooltip="Eliminar">remove_circle_outline</mat-icon>
            </button>
          </td> 
        </tr>
      </tbody>
    </table>