<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="text-secondary ml-2">movie</mat-icon>
  <span class="text-secondary"> Comentarios</span>

  <mat-icon matListIcon class="text-secondary ml-2">view_list</mat-icon>
  <span class="text-secondary"> Listado </span>

  <span class="fill-remaining-space"></span>

  <mat-button-toggle-group class="mr-2" appearance="legacy" #group="matButtonToggleGroup" (change)="changeColorMode($event)">
    <mat-button-toggle value="white" class="bg-white" checked="true" matTooltip="Modo blanco">
      <mat-icon class="text-dark">color_lens</mat-icon> 
    </mat-button-toggle>
    <mat-button-toggle value="dark" class="bg-dark" matTooltip="Modo oscuro">
      <mat-icon  class="text-white">color_lens</mat-icon> 
    </mat-button-toggle> 
  </mat-button-toggle-group>

  <mat-button-toggle-group class="mr-2" appearance="legacy" #group="matButtonToggleGroup" (change)="changeView($event)">
    <mat-button-toggle value="card" checked="true">
      <mat-icon>view_module</mat-icon>
      Tarjetas 
    </mat-button-toggle>
    <mat-button-toggle value="list">
      <mat-icon>view_headline</mat-icon>
      Lista 
    </mat-button-toggle> 
  </mat-button-toggle-group>

  <button mat-raised-button [routerLink]="['/movies/new']" class="btn-info">
    <mat-icon matListIcon>create_new_folder</mat-icon>
    Nuevo
  </button>
</mat-toolbar>

<div class="mx-2">
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 

  <div class="p-3 bg-white">
    <input type="text" [(ngModel)]="message" name="message" #comment (keyup.enter)="addComment(comment.value)">
  </div>

  <div class="row" *ngIf="viewStyle == 'card'">
      <div class="col-md-4 py-2" *ngFor="let m of listMessages" >
        <app-card #thecard class="mb-2 w-100" [item]="m"s type_item="movies" (remove)="openDialogRemove($event)" (openLightBox)="openLB($event)"> 
        </app-card>
    </div>
  </div>

  <app-tablelist #thelist *ngIf="viewStyle == 'list'" [data]="listMessages" type_item="movies" (remove)="openDialogRemove($event)" (openLightBox)="openLB($event)"></app-tablelist>

  <canvas id="myChart" width="400" height="400"></canvas>
</div> 
