<div [className]="data.type + ' snakbar p-2 br-1 d-flex text-white'"> 
  <mat-icon *ngIf="data.type == 'success'">done</mat-icon>
  <mat-icon *ngIf="data.type == 'error'">error</mat-icon>
  <mat-icon *ngIf="data.type == 'info'">info</mat-icon>
  <mat-icon *ngIf="data.type == 'alert'">warning</mat-icon>
  <span class="ml-2">
    {{ data.message }}
  </span>
</div>
