<h1 mat-dialog-title> ¿Esta seguro que desea eliminar este usuario? </h1>
<div mat-dialog-content>
  <p> <mat-icon aria-label="Usuario">person_pin</mat-icon>  {{ data.user.nombres }} {{ data.user.apellido_paterno}} {{ data.user.apellido_paterno }} </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button> 
  <button mat-raised-button color="primary" cdkFocusInitial (click)="remove(data.user)">Confirmar</button>  
</div>
