<h1 mat-dialog-title>Solicitudes de acceso administrador</h1>
<div mat-dialog-content>
<div class="w-100 text-center">
  <mat-icon>security</mat-icon>
</div>
<div *ngIf="data.length == 0">
    <p>Actualmente no hay solicitudes pendientes.</p>
</div>
<div *ngIf="data.length > 0">
  <div class="row bg-light p-3 mb-2 br-1 bs-1" *ngFor="let ur of data">
    <div class="col-12">
      <p> 
        {{ ur.email }}
      </p>
    </div>
    <div class="col-8">
      <p> 
        {{ ur.date.toDate() | timeago }}
      </p>
    </div>
    <div class="col-4 text-center">
      <button mat-raised-button aria-label="Elevar nivel" (click)="grantAccess(ur, $index)" class="bg-success">
        <mat-icon class="text-white">done</mat-icon>
      </button>
    </div>
  </div>
</div>
 
</div>
<div mat-dialog-actions class="text-right">
  <button mat-button (click)="onNoClick()">Cerrar</button> 
</div>
