<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="ml-2 d-none d-sm-flex">movie</mat-icon>
  <span class="d-none d-sm-flex"> Peliculas </span>
 
  <mat-icon matListIcon class="ml-2">local_movies</mat-icon>
  <span> {{ movie.name }} </span> 

  <span class="fill-remaining-space"></span>  
 
  <button mat-raised-button [routerLink]="['/movies']" class="text-info mr-2">
    <mat-icon matListIcon>list</mat-icon> 
    <span class="d-none d-sm-flex">Ver Listado</span>
  </button> 
</mat-toolbar>


<div class="mx-2">
  
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
 
 
  <div class="mat-card p-3 d-flex justify-content-center" *ngIf="!isLoadingResults">
    
    <div class="col-6 text-center">
        <img [src]="movie.image" [alt]="movie.name" class="w-300 mw-300 br-1 mb-2" />

        <h1 class="display4"> 
          {{ movie.name }}
        </h1>
        <h4 class="display5 font-weight-normal">
          {{ movie.description }}
        </h4>
        
        <mat-divider></mat-divider>

        <h1 class="display4">
          Categoria:
        </h1>
        <h4 class="display5 font-weight-normal">
          {{ movie.categories_name }}
        </h4> 
        <mat-divider></mat-divider>
    </div>
  </div>

  <div *ngIf="movie.idimdb" class="mat-card mt-4 mx-2 p-3"> 
    <div class="col-12">
        Información IMDB
        <div class="m-2 p-3">
            <img src="http://www.prillen.com/wp-content/uploads/2017/07/imdb.png" height="60" width="60" alt="Imdb Logo">
            <small>
              ID: {{ movie.idimdb }}
            </small>
        </div>
        
        <div class="row"> 
          <div class="col-4">
            <div class="p-3 bg-neutro br-1">
                <div>
                    <span class="font-italic text-secondary font-weight-bold">Productora:</span> {{ imdbData.Production }} 
                </div>
                <div>
                    <span class="font-italic text-secondary font-weight-bold">Director(es):</span> {{ imdbData.Director }} 
                </div>
                <div> 
                  <span class="font-italic text-secondary font-weight-bold">Actores:</span> {{ imdbData.Actors }}
                </div>
            </div> 
          </div>
          <div class="col-4">
            <div class="p-3 bg-neutro br-1">
              <div>
                  <span class="font-italic text-secondary font-weight-bold">Año:</span> {{ imdbData.Year }} 
              </div>
              <div>
                  <span class="font-italic text-secondary font-weight-bold">Duracion:</span> {{ imdbData.Runtime }} 
              </div>
              <div>
                  <span class="font-italic text-secondary font-weight-bold">Clasificación:</span> {{ imdbData.Rated }} 
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="p-3 bg-neutro br-1">
              <div>
                  <span class="font-italic text-secondary font-weight-bold">Rating:</span> {{ imdbData.imdbRating }} 
              </div>
              <div>
                  <span class="font-italic text-secondary font-weight-bold">Nro de votos:</span> {{ imdbData.imdbVotes }} 
              </div>
              <div>
                  <span class="font-italic text-secondary font-weight-bold">BoxOffice:</span> {{ imdbData.BoxOffice }} 
              </div>
            </div>
          </div>
        </div>
      </div> 
  </div>
      
 
</div> 
 

<app-chat-movies type_item="movies" [chatId]="movieId" ></app-chat-movies>
