<h1 mat-dialog-title class="mb-0"> ¿Esta seguro que desea eliminar esta categoria? </h1>
<div mat-dialog-content>
  <div>  
    <mat-toolbar class="m-2 w-auto br-1">
        <mat-icon matListIcon class="text-secondary ml-2">group_work</mat-icon>
        <span class="text-secondary"> {{ data.category.name }} </span>
    </mat-toolbar>
    <mat-chip-list *ngIf="data.category.total_movies > 0">
        <mat-chip class="ml-4"> 
          <mat-icon>movie</mat-icon> {{ data.category.total_movies }} Pelicula(s) vinculadas. 
        </mat-chip>
    </mat-chip-list>
    <p *ngIf="data.category.total_movies > 0" class="px-3">
      <b>Eliminar solo categoria:</b> las peliculas pasaran a la categoria general.
      <br>
      <b>Eliminar TODO:</b> se eliminara la categoria y todas las peliculas vinculadas.
    </p> 
  </div>
</div>
<div mat-dialog-actions class="mt-3">
  <button mat-button (click)="onNoClick()">Cancelar</button> 
  <button *ngIf="data.category.total_movies == 0" mat-raised-button color="primary" cdkFocusInitial (click)="onButtonClick(data.category, false)">Si, eliminar categoria</button>  
  <button *ngIf="data.category.total_movies > 0" mat-raised-button color="primary" cdkFocusInitial (click)="onButtonClick(data.category, false)">Solo Categoria</button>  
  <button *ngIf="data.category.total_movies > 0" mat-raised-button class="text-danger" cdkFocusInitial (click)="onButtonClick(data.category, true)">TODO</button>  
</div>
