<h1 mat-dialog-title>Hola {{data.name}}</h1>
<div mat-dialog-content>
  <p>Esta es la información de tu cuenta:</p>
  <div class="img-circular big" style="background-image:url('https://i.blogs.es/24bcec/the-batman-affleck/450_1000.jpg')" >
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button> 
  <button mat-raised-button color="accent" cdkFocusInitial>Aceptar</button>  
</div>
