
.img-circular.big{
    width: 200px;
    height: 200px; 
    background-size: cover;
    background-position: center center;
    display: block; 
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}