<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="text-secondary ml-2 d-none d-sm-flex">group_work</mat-icon>
  <span class="text-secondary d-none d-sm-flex"> Categorias</span>

  <mat-icon matListIcon class="text-secondary ml-2">add_circle_outline</mat-icon>
  <span class="text-secondary"> Nueva </span>

  <span class="fill-remaining-space"></span>

  <button mat-raised-button [routerLink]="['/categories']" class="btn-info">
    <mat-icon matListIcon>view_list</mat-icon> 
    <span class="d-none d-sm-flex">Listado</span>
  </button>
</mat-toolbar>

<div class="mat-elevation-z8 mx-2">
    <div *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner> 
    </div>
   
    <div class="p-3 bg-white br-1">
      <form class="" #formnew="ngForm">
          <mat-form-field class="w-50 p-2">
            <input matInput placeholder="Nombre" required [(ngModel)]="category.name" type="text" name="name" id="name">
          </mat-form-field>
          <mat-form-field class="w-50 p-2">
            <input matInput placeholder="Descripcion" required [(ngModel)]="category.description" type="text" name="description" id="description">
          </mat-form-field> 

          <mat-divider></mat-divider>

          <button mat-raised-button class="mt-2 btn-success" *ngIf="formnew.valid" (click)="actionStore()" color="primary">Guardar</button> 
        </form>
    </div>
</div>
      