<mat-card class="mat-card" [ngClass]="{ 'mosaic': type_item === 'feedrss' }" > 
  <mat-card-header> 
    <mat-icon class="ml-auto" *ngIf="icon !==''">{{ icon }}</mat-icon> 
    <mat-card-title class="text-truncate" *ngIf="item.name">{{ item.name  }} </mat-card-title>
    <mat-card-subtitle *ngIf="type_item !== 'feedrss'" class="text-truncate">{{ item.description }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="type_item === 'feedrss'" >{{ item.title }}</mat-card-subtitle>
  </mat-card-header>
  
  <img [src]="item.image" width="0" height="0" (error)="errorImg()" alt="" class="d-none">  

  <div (click)="openLB(item)" *ngIf="item.image" class="cursor mat-card-image" [style.background-image]="'url(' + item.image + ')'" ></div>
  <mat-card-content class="mb-0">  
    <mat-chip-list>
        <mat-chip *ngIf="type_item=='movies'"> <mat-icon>group_work</mat-icon> {{ item.categories_name  }} </mat-chip>
        <mat-chip *ngIf="type_item=='categories'" [ngClass]="{'bg-info': item.total_movies > 0, 'text-white': item.total_movies > 0}"> <mat-icon>movie</mat-icon>&nbsp; {{ ( item.total_movies > 0 ) ? item.total_movies + ' pelicula(s)' : 'Sin pelicuas'  }} </mat-chip>
        <mat-chip *ngIf="type_item=='feeds'" class="text-truncate"> <mat-icon>rss_feed</mat-icon> {{ item.url  }} </mat-chip>
    </mat-chip-list>
    <p *ngIf="type_item === 'feedrss' && item.description" [innerHTML]="item.description | removebr">  
    </p>
    <p class="ml-3" *ngIf="type_item === 'feedrss'">
      <a [href]="item.link" target="_blank">Ver articulo completo</a>
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="showButtonBar"  class="text-center pt-0 mt-1 br-1"> 
    <button mat-button class="text-info" [routerLink]="[ '/' + type_item, item.id , 'view' ]" matTooltip="Mas información" matTooltipPosition="above">  <mat-icon>pageview</mat-icon></button>
    <button mat-button class="text-success" matTooltip="Editar" [routerLink]="[ '/' + type_item, item.id , 'edit' ]" matTooltipPosition="above"> <mat-icon>edit</mat-icon> </button>
    <button *ngIf="showDeleteButton" mat-button class="text-danger" matTooltip="Eliminar" (click)="removeChild(item)" matTooltipPosition="above">  <mat-icon>remove_circle_outline</mat-icon> </button>
  </mat-card-actions> 
</mat-card>

<!-- [state]="{ id:1 , name:'Angular'}" -->
