mat-card {
    transition: 1s linear; 
    margin-bottom: 1rem;
    font-family: Muli, Helvetica, sans-serif;
    width: 100%;
} 

mat-card.mosaic {
    display: inline-block !important;
}
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} 

.mat-card-image {
    max-height: 320px;
    height:300px;
    background-size: cover;
    margin-left: -16px;
    margin-right: -16px;
    max-width: calc( 100% + 32px );
    background-position: center center;
} 