<mat-toolbar class="m-2 w-auto br-1">
    <mat-icon matListIcon class="ml-2">chrome_reader_mode</mat-icon>
    <span> Noticias </span>
  
    <mat-icon matListIcon class="ml-2">local_library</mat-icon>
    <span> Fuentes RSS </span>
  
    <mat-icon matListIcon class="ml-2"> {{ (feedId) ? 'border_color' : 'create_new_folder' }} </mat-icon>
    <span> {{ (feedId) ? 'Editar' : 'Nuevo' }} </span>
  
    <span class="fill-remaining-space"></span>  
   
    <button mat-raised-button [routerLink]="['/feeds','admin']" class="text-info mr-2">
      <mat-icon matListIcon>list</mat-icon>
      Ver Listado
    </button> 
  </mat-toolbar>
  
  <div class="mx-2">
    
    <div *ngIf="isLoadingResults">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> 
   
   
    <div class="mat-card p-3" *ngIf="!isLoadingResults">
      <h1 class="display4 ml-2">
        {{ feed.name }}
        <mat-chip-list aria-label="Modo edicion" class="float-right" *ngIf="feedId"> 
          <mat-chip class="bg-info">Modo edicion</mat-chip>
        </mat-chip-list>
      </h1>

      <form class="" #formnew="ngForm"> 
        <mat-form-field class="w-75 p-2">
          <input matInput placeholder="Nombre" required [(ngModel)]="feed.name" type="text" name="name" id="name">
        </mat-form-field> 
        <mat-form-field class="w-75 p-2">
          <textarea matInput placeholder="Descripcion" [(ngModel)]="feed.description" name="description" id="description">
          </textarea>
        </mat-form-field>
        <mat-form-field class="w-75 p-2">
          <input matInput placeholder="URL" required [(ngModel)]="feed.url" type="text" name="URL" id="URL"> 
        </mat-form-field> 
        <br />
        <small class="ml-2 font-italic text-secondary">* La respuesta debe ser en formato XML</small>
        <mat-divider></mat-divider>
        <div class="w-100">
            <button mat-raised-button class="mt-2 ml-2 bg-success text-white" *ngIf="formnew.valid" (click)="actionStore()" >
                <mat-icon>check</mat-icon> Guardar
            </button>  
        </div> 
      </form>

    </div>
   
  </div> 
  
  