<h1 mat-dialog-title class="mb-0"> ¿Esta seguro que desea eliminar esta pelicula? </h1>
<div mat-dialog-content>
  <div>  
    <mat-toolbar class="m-2 w-auto br-1">
        <mat-icon matListIcon class="text-secondary ml-2">movie</mat-icon>
        <span class="text-secondary"> {{ data.movie.name }} </span>
    </mat-toolbar>
    <mat-chip-list>
        <mat-chip class="ml-4"> 
          <mat-icon>group_work</mat-icon> Categoria: {{ data.movie.categories_name  }} 
        </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div mat-dialog-actions class="mt-3">
  <button mat-button (click)="onNoClick()">Cancelar</button> 
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onButtonClick(data.movie)">Si, eliminar pelicula</button>  
</div>