<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="text-secondary ml-2 d-none d-sm-flex">movie</mat-icon>
  <span class="text-secondary d-none d-sm-flex"> Categorias</span>

  <mat-icon matListIcon class="text-secondary ml-2">add_circle_outline</mat-icon>
  <span class="text-secondary"> Nueva </span>

  <span class="fill-remaining-space"></span>

  <button mat-raised-button [routerLink]="['/movies']" class="btn-info">
    <mat-icon matListIcon>view_list</mat-icon> 
    <span class="d-none d-sm-flex">Listado</span>
  </button>
</mat-toolbar>

<div class="mat-elevation-z8 mx-2">
    <div *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner> 
    </div>
   
    <mat-card class="br-1">
      <form class="" #formnew="ngForm">
          <mat-form-field class="p-2 w-50">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="movie.categories_id" name="categories_id">
              <mat-option *ngFor="let c of categories | readfirebase" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-50 p-2">
            <input matInput placeholder="Nombre" required [(ngModel)]="movie.name" type="text" name="name" id="name">
          </mat-form-field>
          <mat-form-field class="w-100 p-2">
            <input matInput placeholder="Descripcion" required [(ngModel)]="movie.description" type="text" name="description" id="description">
          </mat-form-field> 

          <mat-form-field class="w-100 p-2">
            <input matInput placeholder="URL IMDB" [(ngModel)]="movie.idimdb" type="text" name="imdb" id="imdb">
          </mat-form-field> 

          <div class="w-100 p-2" *ngIf="changeImage">
            <label for="singleFile">Cambiar Poster</label>
            <input id="singleFile" type="file" name="image" (change)="onFileChange($event)"/> 
          </div>   

          <div class="p-2"> 
            <label for="singleFile" class="w-100"> Poster Actual &nbsp; <button mat-raised-button class="mt-2 btn-info" *ngIf="!changeImage" (click)="changeImage = true" color="primary">Cambiar</button>  </label>
            <img [src]="currentImage" [alt]="movie.name" class="w-300 mw-300 br-1 mb-2" />
          </div>          
          
          <mat-divider></mat-divider> 
          <button mat-raised-button class="mt-2 btn-success" *ngIf="formnew.valid" (click)="actionStore()" color="primary">Guardar</button> 
        </form>
      </mat-card>
</div>