<mat-toolbar class="m-2 w-auto br-1">
    <mat-icon matListIcon class="ml-2">chrome_reader_mode</mat-icon>
    <span> Noticias </span>
  
    <mat-icon matListIcon class="ml-2">local_library</mat-icon>
    <span> Fuentes RSS </span>
  
    <span class="fill-remaining-space"></span>  
  
    <button mat-raised-button [routerLink]="['/feeds']" class="btn-info">
      <mat-icon matListIcon>chrome_reader_mode</mat-icon>
      Ver todas las noticias
    </button>
  </mat-toolbar>
  
  <div class="mx-2">
    
    <div *ngIf="isLoadingResults">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> 
   
   
    <div class="container px-0" *ngIf="!isLoadingResults">
      
    </div>     
   
   
  </div> 