<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="ml-2 d-none d-sm-flex">chrome_reader_mode</mat-icon>
  <span class="d-none d-sm-flex"> Noticias </span>

  <mat-icon matListIcon class="ml-2">local_library</mat-icon>a
  <span> Fuentes RSS </span>

  <mat-icon matListIcon class="ml-2 d-none d-sm-flex">pageview</mat-icon>
  <span class="d-none d-sm-flex"> Ver </span>

  <span class="fill-remaining-space"></span>  
 
  <button mat-raised-button [routerLink]="['/feeds','admin','new']" class="text-info mr-2">
    <mat-icon matListIcon>list</mat-icon>  
    <span class="d-none d-sm-flex">Ver Listado</span>
  </button> 
</mat-toolbar>

<div class="mx-2">
  
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
 
 
  <div class="mat-card p-3" *ngIf="!isLoadingResults">
    <h1 class="display4">
      {{ feed.name }}
    </h1>
    <h4 class="display5 font-weight-normal">
      {{ feed.description }}
    </h4>
    <mat-divider></mat-divider>
    <div class="my-3 d-flex align-items-center flex-wrap">
      <mat-icon class="mr-2">rss_feed</mat-icon> URL: {{ feed.url }} 
    </div>
    <div class="my-2">
      <a mat-raised-button target="_blank"  class="text-warning" [href]="feed.url"> 
        Ver respuesta en XML
      </a>
    </div> 
    <mat-divider></mat-divider>
    <div class="mt-3">
      <button mat-raised-button [routerLink]="['/feeds',feedId,'edit']" class="text-success mr-2">
        <mat-icon matListIcon>border_color</mat-icon>
        Editar
      </button>
    
      <button mat-raised-button (click)="openDialogRemove()" class="text-danger">
        <mat-icon matListIcon>remove_circle_outline</mat-icon>
        Eliminar
      </button>
    </div>
    
  </div>     
 
</div> 

