<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="ml-2">group</mat-icon>
  <span class="d-none d-sm-flex"> Usuarios </span>
 
  <mat-icon matListIcon class="ml-2">pageview</mat-icon>
  <span> Solicitudes de admin </span> 

  <span class="fill-remaining-space"></span>  
 
  <button mat-raised-button [routerLink]="['/users']" class="text-info mr-2">
    <mat-icon matListIcon>list</mat-icon> 
    <span class="d-none d-sm-flex">Ver Listado</span>
  </button> 
</mat-toolbar>


<div class="mx-2">
  
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
 
 
  <div class="mat-card p-3 d-flex justify-content-center" *ngIf="!isLoadingResults">
    
    
     
  </div>     
 
</div> 