<mat-toolbar class="m-2 w-auto br-1">
    <mat-icon matListIcon class="text-secondary ml-2">group_work</mat-icon>
    <span class="text-secondary"> Categorias</span>
  
    <mat-icon matListIcon class="text-secondary ml-2 d-none d-sm-flex">view_list</mat-icon>
    <span class="text-secondary d-none d-sm-flex"> Listado </span>
  
    <span class="fill-remaining-space"></span>
 
    <mat-button-toggle-group class="mr-2 d-none d-md-flex" appearance="legacy" #group="matButtonToggleGroup" (change)="changeView($event)">
      <mat-button-toggle value="card" checked="true">
        <mat-icon>view_module</mat-icon>
        Tarjetas 
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>view_headline</mat-icon>
        Lista 
      </mat-button-toggle> 
    </mat-button-toggle-group>
  
    <button mat-raised-button [routerLink]="['/categories/new']" class="btn-info">
      <mat-icon matListIcon>create_new_folder</mat-icon>
      <span class="d-none d-sm-flex">Nuevo</span>
    </button>
</mat-toolbar>
 
  <div class="mx-2">
    <div *ngIf="isLoadingResults">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
   
    <div class="row" *ngIf="viewStyle == 'card'">
      <div class="col-md-4 py-2" *ngFor="let c of listCategories" >
        <app-card class="w-100" [item]="c" type_item="categories" (remove)="openDialogRemove($event)"> 
        </app-card>
      </div>
    </div>

    <app-tablelist *ngIf="viewStyle == 'list'" [data]="listCategories" type_item="categories" (remove)="openDialogRemove($event)"></app-tablelist>

  </div>
  