<h1 mat-dialog-title class="mb-0"> ¿Esta seguro que desea eliminar esta Fuente? </h1>
<div mat-dialog-content>
  <div>   
    <mat-toolbar class="m-2 w-auto br-1">
        <mat-icon matListIcon class="text-secondary ml-2">rss_feed</mat-icon>
        <span > {{ data.feed.name }} </span>
    </mat-toolbar> 
  </div>
</div>
<div mat-dialog-actions class="mt-3">
  <button mat-button (click)="onNoClick()">Cancelar</button> 
  <button mat-raised-button class="btn btn-danger" cdkFocusInitial (click)="onButtonClick(data.feed)">Si, eliminar Fuente RSS</button>  
</div>