<div class="container">
  <div class="row">
    <div class="col">
      <h2>*ngIf</h2>
      <hr>
      <div class="card">
        <div class="card-body p-3" *ngIf="mostrar">
          {{ texto }}
        </div>
        <div class="card-footer">
          <button (click)="ocultarMostrar()" class="btn btn-raised btn-info">Ocultar/Mostrar</button>
        </div> 
      </div>
    </div>
    <div class="col">
      <h2>[hidden]</h2>
      <hr>
      <div class="card">
        <div class="card-body p-3" [hidden]="!mostrar">
          {{ texto }}
        </div>
        <div class="card-footer">
          <button (click)="ocultarMostrar()" class="btn btn-raised btn-info">Ocultar/Mostrar</button>
        </div> 
      </div>
    </div>
    <div class="col">
      <h2>*ngFor</h2>
      <hr>
      <div class="card">
        <div class="card-body p-3" >
          <ul>
            <li *ngFor="let item of users;  let i = index">{{ i+1 }} . {{ item.firstName + ' ' + item.lastName }} 
              <br>
              <img [src]="item.avatar" alt="">
            </li> 
          </ul>
        </div> 
      </div>
    </div>
  </div>
</div>