<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="text-secondary ml-2">chat</mat-icon>
  <span class="text-secondary"> Chat</span> 
</mat-toolbar>

<div class="mat-elevation-z8 mx-2">
    <mat-card class="example-card"> 
      <mat-card-content> 
        <mat-list>
          <mat-list-item *ngFor="let message of listMessages">
            <img matListAvatar src="..." alt="...">
            <h3 matLine> {{message.from}} </h3>
            <p matLine>
              <span> {{message.message }} </span> 
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content> 
    </mat-card>
    <mat-card class="example-card"> 
      <mat-card-content> 
        <mat-form-field class="w-100">
          <input matInput placeholder="Escribir" class="w-100" (keyup.enter)="addMessage()" [(ngModel)]="message">
        </mat-form-field> 
      </mat-card-content> 
    </mat-card>
</div>