@import '~@angular/material/theming';
@import './app/custom-theme.scss';

body {  height: 100vh; }

/* You can add global styles to this file, and also import other style files */
body[bgmodel="model1"], div.bgmodel1{
    background: #3D7EAA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3D7EAA,  #FFE47A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#3D7EAA, #FFE47A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body[bgmodel="model2"], div.bgmodel2{
    background: #680505;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #680505, #307ba7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #680505, #307ba7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body[bgmodel="model3"], div.bgmodel3{
    background: #145708;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #145708, #3c3c3c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #145708, #3c3c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body[bgmodel="model4"], div.bgmodel4{
    background: #7f8116;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7f8116, #905500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7f8116, #905500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
div.bgmodel.selected { 
    border: 4px solid white;
    box-shadow: 1px 1px 5px #636363;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor { cursor: pointer; }

input.ng-invalid { border: 1 px red solid; }
.br-1 { border-radius: 4px; }
.fill-remaining-space { flex: 1 1 auto; }

div.bg-neutro > .mat-dialog-container, div.bg-neutro{  
    background: #a4c3c8d9 !important;
} 

.bs-1 { box-shadow: 0px 0px 4px 1px #757575; }

.mat-icon.fa-3x{
    height: initial;
    width: initial;
}

.my-pagination /deep/ .ngx-pagination {
    margin-bottom: 0 !important;  
}

.my-pagination /deep/ .ngx-pagination a { 
    color: inherit !important;
}
 .dark-theme a { color: #8fd9ff; }

 .w-300{ width: 300px; } .mw-300 { max-width: 300px;  }

 .display-5, .display-6 { 
    font-family: Muli;
    font-weight: 200;
 }
 .display-5 {
    font-size: 2.5rem; 
    line-height: 2.5rem;
  }

  .display-6 {
    font-size: 1.7rem; 
    line-height: 1.7rem;
  }