<mat-toolbar class="m-2 w-auto br-1">
  <mat-icon matListIcon class="text-secondary ml-2 d-none d-sm-flex">movie</mat-icon>
  <span class="text-secondary d-none d-sm-flex"> Peliculas</span>

  <mat-icon matListIcon class="text-secondary ml-2">view_list</mat-icon>
  <span class="text-secondary"> Listado </span>

  <span class="fill-remaining-space"></span> 

  <mat-button-toggle-group class="mr-2 d-none d-sm-flex" appearance="legacy" #group="matButtonToggleGroup" (change)="changeView($event)">
    <mat-button-toggle value="card" checked="true">
      <mat-icon>view_module</mat-icon>
      Tarjetas 
    </mat-button-toggle>
    <mat-button-toggle value="list">
      <mat-icon>view_headline</mat-icon>
      Lista 
    </mat-button-toggle> 
  </mat-button-toggle-group>

  <button mat-raised-button [routerLink]="['/movies/new']" class="btn-info">
    <mat-icon matListIcon>create_new_folder</mat-icon> 
    <span class="d-none d-sm-flex">Nueva</span>
  </button>
</mat-toolbar>

<div class="mx-2">
  <div *ngIf="isLoadingResults">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 

  <div class="row" *ngIf="viewStyle == 'card'">
    <div class="col-md-4 py-2" *ngFor="let m of listMovies" >
      <app-card #thecard class="mb-2 w-100" [item]="m" type_item="movies" [colorMode]="colorMode" (remove)="openDialogRemove($event)" (openLightBox)="openLB($event)"> 
      </app-card>
    </div>
  </div>

  <app-tablelist #thelist *ngIf="viewStyle == 'list'" [data]="listMovies" type_item="movies" [colorMode]="colorMode" (remove)="openDialogRemove($event)" (openLightBox)="openLB($event)"></app-tablelist>

</div> 
