HOLA
<mat-card class="p-3 bg-white m-2">
  <mat-card-header class="text-secondary ml-0 p-0"> 
        <mat-icon matListIcon class="text-secondary">location_on</mat-icon>&nbsp; Mapa
  </mat-card-header>    
</mat-card>

<div class="p-2">
    <div id="gmap" class="mat-elevation-z8" style="width:100%;height:380px;"></div>
</div>
