<h1 mat-dialog-title> Bienvenido {{ data.user.name }}, ¿con que estilo te llevas mejor? </h1>
<div mat-dialog-content>
   <div class="row">
     <div class="col-6 light-theme">
      <mat-card class="p-3 text-center">
        <div class="w-100 ">
          Estilo claro 
        </div> 
        <div class="d-flex justify-content-center">
          <div>
            <mat-icon class="fa-3x">style</mat-icon> 
          </div> 
        </div>
        <div class="w-100 pt-2">
          <button mat-stroked-button (click)="setTheme('light-theme')">OK</button>
        </div>
      </mat-card>
    </div>
     <div class="col-6 dark-theme">
      <mat-card class="p-3 text-center">
        <div class="w-100">
          Estilo claro 
        </div> 
        <div>
          <mat-icon class="fa-3x">style</mat-icon> 
        </div>
        <div class="w-100 pt-2">
          <button mat-stroked-button (click)="setTheme('dark-theme')">OK</button>
        </div>
      </mat-card>
    </div>  
   </div> 
   <div class="row mt-4">
     <div class="col-3">
       <div class="w-100 h-100 br-1 p-5 cursor bgmodel bgmodel1 text-center" [ngClass]="{'selected':data.user.bgmodel == 'model1'}" (click)="setBgModel('model1')">
        <mat-icon class="text-white">format_color_fill</mat-icon> 
       </div>
     </div> 
     <div class="col-3"> 
       <div class="w-100 h-100 br-1 p-5 cursor bgmodel bgmodel2 text-center" [ngClass]="{'selected':data.user.bgmodel == 'model2'}" (click)="setBgModel('model2')">
        <mat-icon class="text-white">format_color_fill</mat-icon> 
       </div>
    </div> 
     <div class="col-3">
       <div class="w-100 h-100 br-1 p-5 cursor bgmodel bgmodel3 text-center" [ngClass]="{'selected':data.user.bgmodel == 'model3'}" (click)="setBgModel('model3')">
        <mat-icon class="text-white">format_color_fill</mat-icon> 
       </div>
    </div> 
     <div class="col-3">
       <div class="w-100 h-100 br-1 p-5 cursor bgmodel bgmodel4 text-center" [ngClass]="{'selected':data.user.bgmodel == 'model4'}" (click)="setBgModel('model4')">
        <mat-icon class="text-white">format_color_fill</mat-icon> 
       </div>
     </div>
   </div>
   <div class="row">
    <div class="col-12 pt-2">
      <p>
         * Si cambias de opinion, puedes cambiarlo luego
      </p>
    </div>
   </div>
</div> 