.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
  }

  .tooltip-white { background: rgba(255, 255, 255, 0.705); color: grey }