<mat-toolbar class="example-toolbar py-2 bg-transparent" [ngClass]="'active'">   
  <a class="navbar-brand ml-3 cursor" (click)="toggleSidenav()">   
    <fa-icon [icon]="['fa', 'bars']" size="lg" class="text-white"></fa-icon>
  </a> 
  <span class="ml-auto mr-auto text-white" [routerLink]="['/']">Home</span>  
  <a class="navbar-brand ml-3 ml-auto cursor" (click)="changeStyle()">   
   <fa-icon [icon]="['fa', 'palette']" size="lg" class="text-white"></fa-icon>
  </a> 
  <a [matMenuTriggerFor]="userHeaderMenu" class="cursor" matTooltip="Mas opciones" matTooltipPosition="left" matTooltipClass="tooltip-whites">
    <fa-icon [icon]="['fa', 'user-circle']" size="lg" class="text-white"></fa-icon>
  </a>
  <mat-menu #userHeaderMenu="matMenu">
    <button mat-menu-item (click)="openDialogInfoAccount()">
      <mat-icon>settings</mat-icon>
      <span>Mi cuenta</span>
    </button>
    <button *ngIf="dataUser.level !== 3" mat-menu-item (click)="openDialogAdminRequest()">
      <mat-icon>security</mat-icon>
      <span>Solicitar ser Administrador</span>
    </button>
    <button mat-menu-item (click)="this.auth.logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Cerrar Sesion</span>
    </button> 
  </mat-menu>
</mat-toolbar>