<h1 mat-dialog-title> {{data.name}}</h1>
<div mat-dialog-content>
  <p>Esta es la información de un usuario</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button> 
  <button mat-raised-button color="primary" cdkFocusInitial>Confirmar</button>  
</div>
