<div class="lbarea">
    <img [src]="selectMedia?.src" alt="">
</div>

<div class="lbthumbs d-flex justify-content-center align-items-center flex-wrap" *ngFor="let image of data.album; let i=index">
  <mat-icon *ngIf="i > 0" (click)="open(i-1)">movie</mat-icon>
  <img [src]="image.thumb" class="cursor" height="76" [matTooltip]="image.caption" matTooltipPosition="above" class="m-2 cursor"  (click)="open(i)"/>
  <mat-icon *ngIf="i < data.album.lenght" (click)="open(i+1)">edit</mat-icon>
</div>
