.mat-dialog-container {
    background: transparent !important; 
}

.lbarea {
    height: 100vh;
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
}
.lbarea img{
    height: 100%;;
}

.lbtop, .lbthumbs { 
    position: absolute;
    left: 0;
    width: 100%;
}

.lbtop{ 
    top: 0;
}

.lbtop.title{
    background: #00000066;
}

.lbthumbs{ 
    height: 80px;
    bottom: 0;  
}