<app-login *ngIf="!this.auth.isLoggedIn; else dashboard"></app-login>


<ng-template #dashboard>
    <div class="mat-container" [class.is-mobile]="mobileQuery.matches"> 
        <mat-sidenav-container class="sidenav-container"
                                [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"  [opened]="mobileQuery.matches ? false : 'true'"
                        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"> 
                <app-menu></app-menu>
            </mat-sidenav>
        
            <mat-sidenav-content>
                <app-header [sidenav]="sidenav"></app-header>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</ng-template>
